extends layout

block content
	div.container
		div.row.header
			div.col-xs-6
				h1(class='heading')
					|FX
				p Realtime Forex Rates
			div.col-xs-6
				img(class="logo-icon pull-right" src="/graphics/logo64-alt.svg")
		div.row
			- var graph_names = ["EUR/USD","CAD/CHF","USD/JPY","CAD/JPY","GBP/USD","CHF/JPY","EUR/GBP","EUR/AUD","USD/CHF","EUR/CAD","EUR/JPY","EUR/NOK","EUR/CHF","EUR/NZD","USD/CAD","GBP/CAD","AUD/USD","GBP/CHF","GBP/JPY","NZD/JPY","AUD/CAD","NZD/USD","AUD/CHF","USD/NOK","AUD/JPY","USD/SEK","AUD/NZD"]
			- for(i=0; i<27; i++)
				div(id="chart"+i)
				h5(class="chart-label")= graph_names[i]