doctype html
html
	head
		title= "FX by Irukandji Labs"
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		
		script(src="/javascripts/jquery-3.1.1.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/javascripts/socket.io-1.4.5.js")
		script(src="/javascripts/plotly-latest.min.js")
		script(src="/javascripts/charts-alt.js")
