body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
	margin-bottom: 20px;
}

.chart-label {
	text-align: center;
}

.logo-icon {
	width: 128px;
}

.heading {
	margin-top: 0px;
}